$dark: #000000;
$site-text-color: #707070;
$site-dark-red-color: #A0002A;
$site-gray-color: #EEEEEE;
$font-family: 'Montserrat', sans-serif;
$defalut-font-size: 20px;
$magenta: #9E0362;
$orange: #F36A10;
$green: #7AA725;
$blue: #0D5DAA;
